@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DM Sans', sans-serif;
}

.recharts-default-legend {
    color: black;
}

.selection-title,
.selection-container h1 {
    font-family: 'DM Serif Display', serif;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #1b5155;
}

.styled-select {
    color: black;

    background-color: white;
    border: none;

    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    margin-top: 5px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.opacity-label,
.slider-label {
    font-size: 1.2rem;
    color: #4a5568;
    margin-bottom: 0.5rem;
}

.opacity-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    border-radius: 10px;
}


.slider-container {
    position: fixed;
    bottom: 50px;

    /* Adjust as needed */
    left: 45%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8rem;
    color: black;
    flex-direction: row;
    /* Changed to row */
    justify-content: space-around;
    /* Distribute equal space around items */
    flex-wrap: wrap;
    /* Wrap items if they don't fit */
    max-width: 90%;
    /* Set a max-width for responsiveness */
    gap: 1rem;
    padding: 1rem;
    /* Added some padding */
    background-color: rgba(255, 255, 255, 0.9);
    /* Optional: Added a semi-transparent black background for better visibility */
    border-radius: 10px;
    /* Optional: Added some border radius */
}

.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsPosition {
    margin-left: 17px;
}

.slider-label {
    font-size: 1.2rem;
    color: #4a5568;
    margin-bottom: 0.5rem;
}

.range-input {
    width: 80%;
    height: 2px;
    background-color: #031312;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.range-input::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #4a5568;
    border-radius: 50%;
}

.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 100vh;
    padding: 2rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.1);
}

.selection-inner-container {
    width: 80%;
    max-width: 800px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.crop-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;

    object-fit: contain;
    margin-bottom: 2px;
}


.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    object-fit: contain;
}

.animated-button {
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;
    height: 150px;
    width: 200px;
    display: flex;
    text-transform: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    background-color: #F9C860;
    color: rgb(53, 54, 53);

    flex-direction: column;

    padding: 20px;
    text-align: center;

}

.cardscolor {
    background-color: #afa7a7;
}

.animated-button:hover {
    background-color: #58946b;
    transform: scale(1.1);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.animated-button:active {
    transform: translateY(-1px);
}

.selection-subtitle {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 1rem;
    color: #1b5155;
}

.confirmButton {
    background-color: #F9C860;
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.0rem;
}

.card-container {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 12px;
}

.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h4,
h5 {
    font-weight: 500;
    margin-bottom: 1rem;
}

.weather-widget,
.humidity-widget,
.uvindex-widget,
.health-widget,
.headcount-widget,
.soil-moisture-widget,
.card {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
    font-family: 'DM Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
}

.selectCards {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-family: 'DM Serif Display', serif;
}

.mainHeadingText {
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: larger;
}

.dateLayerbox {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-family: 'DM Serif Display', serif;
    border-radius: 8px;
    /* adjust this value to your liking */
}

.zoom-button {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: larger;
    color: white;
    background-color: rgb(88, 89, 90);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin-top: 20px;
}

.texts-slider {
    color: black;
}

.custom-card {
    background-color: rgb(0, 0, 0/var(--tw-bg-opacity)) !important;
}

.fa-icon {
    margin-bottom: 10px;
}

.input-field {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Add this line */
    margin-right: 6rem;
    margin-left: 6rem;
    margin-bottom: 1rem;
    width: 300px;
}


.input-field label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input-field input {
    padding: 0.5rem 1rem;
    border: 2px solid #cccccc;
    border-radius: 25px;
    font-size: 1rem;
}


.input-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.file-upload-label,
.file-upload-input {
    cursor: pointer;
    display: block;
    text-align: center;
}

.file-upload-label {
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #4a5568;
    color: white;
    border-radius: 25px;
}

.file-upload-input {
    display: none;
}

.file-upload-placeholder {
    font-size: 0.9rem;
    color: #4a5568;
    margin-top: 0.5rem;
    text-align: center;
}

.selected-image {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin-top: 1rem;
}

.submit-button {
    background-color: #4a5568;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #2d3748;
}

.selection-inner-container-analysis {
    width: 80%;
    max-width: 1000px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    /* other styles remain the same */
}

.analysis-heading {
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 0.5rem;
}

.image-container {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 2rem 0;
    cursor: pointer;
}

.analyzed-image {
    object-fit: contain !important;
}

.analysis-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.analysis-field {
    width: 48%;
    /* This will take almost half the width, leaving some space for margins */
    margin-bottom: 10px;
}


.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 2rem;
}

.save-button,
.discard-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.save-button {
    background-color: #4caf50;
    color: white;
}

.discard-button {
    background-color: #f44336;
    color: white;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}

.modal-image-container {
    position: relative;
    width: 100%;
    height: 80vh;
}

.modal-image {
    object-fit: contain !important;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    /* Add this to stack items vertically */
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
    /* Add some space between the loader and the text */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}